.container{
    background-image: url('./../../assets/contactBg.jpg');
    height: 1000px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
    
}
input[type=number]::-webkit-inner-spin-button{
    display: none;
}